extends layout

block content
  .row.item-view
    .col-md-5.productos 
      .row
        img.img-producto(src="/images/product/r1.png" width="100%")
    .col-md-7.descripcion 
      .row 
        h4 producto 
      .row 
        p 
          ul 
            li Precio: 50.00
            li Material
        p Hacer Pedido
  .row
    h2 Más Relojes 
  .row
    .col-md-4.productos 
      .row
        img.img-producto(src="/images/product/r1.png" width="100%")
      .row 
        h4 producto 
      .row 
        p 
          ul 
            li Precio: 50.00
            li Material
    .col-md-4.productos 
      .row
        img.img-producto(src="/images/product/r2.png" width="100%")
      .row 
        h4 producto 
      .row 
        p 
          ul 
            li Precio: 50.00
            li Material
    .col-md-4.productos 
      .row
        img.img-producto(src="/images/product/r1.png" width="100%")
      .row 
        h4 producto 
      .row 
        p 
          ul 
            li Precio: 50.00
            li Material
  .row
    .col-md-4.productos 
      .row
        img.img-producto(src="/images/product/r1.png" width="100%")
      .row 
        h4 producto 
      .row 
        p 
          ul 
            li Precio: 50.00
            li Material
    .col-md-4.productos 
      .row
        img.img-producto(src="/images/product/r2.png" width="100%")
      .row 
        h4 producto 
      .row 
        p 
          ul 
            li Precio: 50.00
            li Material
    .col-md-4.productos 
      .row
        img.img-producto(src="/images/product/r1.png" width="100%")
      .row 
        h4 producto 
      .row 
        p 
          ul 
            li Precio: 50.00
            li Material
  .row.footer
    h4 Cruzzalegui 2021