extends layout

block content
  .row.justify-content-center
    .col-md-4
        h1 Lista de pedidos
        ul
            li Pedido 1
            li Pedido 1
            li Pedido 1
            li Pedido 1
            li Pedido 1
            li Pedido 1
            li Pedido 1
            li Pedido 1