extends layout

block content
  .row
    h1 LOS RELOJES CRUZZALEGUI SON CREADOS CON ESCRUPULOSA MINUCIOSIDAD
    p Explore la colección de prestigiosos relojes Rolex de alta precisión. Rolex proporciona una amplia selección de relojes Oyster Perpetual y Cellini, para adaptarse a cualquier muñeca. Descubra la gran selección de relojes Rolex: una perfecta combinación de estilo y funcionalidad.
  .row
    .col-md-4.productos 
      .row
        img.img-producto(src="/images/product/r1.png" width="100%")
      .row 
        h4 producto 
      .row 
        p 
          ul 
            li Precio: 50.00
            li Material
    .col-md-4.productos 
      .row
        img.img-producto(src="/images/product/r2.png" width="100%")
      .row 
        h4 producto 
      .row 
        p 
          ul 
            li Precio: 50.00
            li Material
    .col-md-4.productos 
      .row
        img.img-producto(src="/images/product/r1.png" width="100%")
      .row 
        h4 producto 
      .row 
        p 
          ul 
            li Precio: 50.00
            li Material
  .row
    .col-md-4.productos 
      .row
        img.img-producto(src="/images/product/r1.png" width="100%")
      .row 
        h4 producto 
      .row 
        p 
          ul 
            li Precio: 50.00
            li Material
    .col-md-4.productos 
      .row
        img.img-producto(src="/images/product/r2.png" width="100%")
      .row 
        h4 producto 
      .row 
        p 
          ul 
            li Precio: 50.00
            li Material
    .col-md-4.productos 
      .row
        img.img-producto(src="/images/product/r1.png" width="100%")
      .row 
        h4 producto 
      .row 
        p 
          ul 
            li Precio: 50.00
            li Material
  .row.footer
    h4 Cruzzalegui 2021