@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200;1,400&family=Oswald:wght@300&display=swap');
.row{
  padding: 0px;
  margin: 0px;
}
h1,h2,h3,h4{
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
p{
  font-family: 'Josefin Sans', sans-serif;
  text-align: justify;
}
.banner-img{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
}
.productos{
  text-align: center;
}
.productos .img-producto{
  border-radius: 30px;
}
.footer{
  background-color: #0591ce;
  text-align: center;
  padding: 10px;
  color: #ffffff;
}
.item-view{
  margin-bottom: 20px;
}